body{
	margin:0px;
	padding: 0px;
	background-color:#f9f9f9;
	/* overflow: hidden; */
	font-family: system-ui;
}

.clearfix{
	clear: both;
}
.logo{
	margin: 0px;
	margin-left: 28px;
    font-weight: bold;
    color: rgb(31, 25, 207);
    margin-bottom: 30px;
}

.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #f1f1f1;
  overflow: hidden;
  transition: 0.5s;
  padding-top: 30px;
}
.sidenav a {
  padding: 15px 8px 15px 32px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #f1f1f1;
  background-color:#e1e3ec;
}
.sidenav{
  position: fixed;
  top: 0;
  right: 25px;
  font-size: 36px;
}
#main {
  transition: margin-left .5s;
  padding: 16px;
  margin-left: 300px;
  background-color: #f9f9f9;
}
.head{
	padding:20px;
}
.col-div-6{
	width: 50%;
	float: left;
}
.profile{
	
	float: right;
	width: 160px;
}
.pro-img{
	float: left;
	width: 40px;
	margin-top: 5px;
}
.profile p{
	color: black;
	font-weight: 500;
	margin-left: 55px;
	margin-top: 10px;
	font-size: 20px;
}

.col-div-3{
	width: 25%;
	float: left;
  
}
.col-div-3 p{
  font-weight: bold;
}
.box1{
	width: 85%;
	height: 120px;
	background-color: #CFE8FF;
	margin-left: 10px;
	padding:10px;
  font-size: 25px;
  text-align:center;
  color: black;
  border-radius: 5px;

}
.box1 a button{
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  background-color: white;
  border-radius: 10px;
}

.box2{
	width: 85%;
	height: 120px;
	background-color:#FFF2C6;
	margin-left: 10px;
	padding:10px;
  font-size: 25px;
  text-align: center;
  color: black;
  border-radius: 5px;

}
.box2 a button{
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  background-color: white;
  border-radius: 10px;

}

.box3{
	width: 85%;
	height: 120px;
	background-color: #8fb1ac;
	margin-left: 10px;
	padding:10px;
  font-size: 25px;
  text-align: center;
  color: black;
  border-radius: 5px;

}
.box3 a button{
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  background-color: white;
  border-radius: 10px;
}
.box4{
	width: 85%;
	height: 120px;
	background-color:#FFE0D3 ;
	margin-left: 10px;
	padding:10px;
  font-size: 25px;
  text-align: center;
  color: black;
  border-radius: 5px;

}

.box5{
  width: 45%;
  height: 200px;
  background-color:#CFE8FF;
  margin-left: 10px;
	padding:10px;
  border-radius: 5px;


} 

.box5 p{
  text-align:start;
}

.last-box{
  display: flex;
  padding-top: 50px;
}

.box6{
  width:45%;
  height: 200px;
  background-color:#FFF2C6;
  margin-left: 10px;
	padding:10px;
  border-radius: 5px;

  
} 

.col-div-8{
	width: 70%;
	float: left;
  height: 100%;
}
.col-div-4{
	width: 30%;
	float: left;
}


.progress{
  padding-left: 10px;
  padding-top: 50px;
}


.content-box p{
	margin: 0px;
    font-size: 20px;
    color: black;
    margin-top: 10px;
    margin-left: 10px;
  
}



.commission{
  padding-top: 50px;
}
.para{
  text-align: center;
}

.box-8, .box-4{
	width: 95%;
	background-color: #efeff2;
	height: 330px;
	
}
.nav2{
	display: none;
}

.box-8{
	margin-left: 10px;
}


marquee{
  padding-top: 50px;
  margin-top: 20px;
  height: 50px;
  background-color: #FFE0D3;
}

.file{
  margin-left: 10px;
  padding-top: 40px;
}
.whats-app {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 15px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.my-float {
  margin-top: 16px;
}











